:root {
    --tw-primary-color: #212529;
    --tw-secondary-color: #696969;
    --tw-third-color: #9B9D9E;
    --tw-text-color: #a9a9a9;
    --tw-window-bg: #BEBEBE;
    --tw-logo-yellow: #FFDD00;
    --tw-logo-gray: #30383B;
    --tw-black: #000000;
    --tw-white: #FFFFFF;
}
